{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block full_page_title %}
                KFUM Linkoping Ultimate {% block page_title %} {% endblock %}
            {% endblock full_page_title %}
        </title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- style -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/application.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        {% block css %}
        {% endblock css %}

        <!-- javascript -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        {% block javascript %}
        {% endblock javascript %}

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <header>
            {% include "header.html" %}
        </header>
        <div class="content">
            <div class="row">
                <div class="col-sm-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-sm-3">
                    {% include "menu.html" %}
                </div>
            </div>
        </div>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>
