{% load static %}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li><a href="/">Hem</a> | </li>
            <li><a href="/om">Om oss</a> | </li>
            <li><a href="/traning">Träning</a> | </li>
            <li><a href="/kontakt">Kontakt</a> | </li>
            <li><a href="/resultat">Resultat</a> | </li>
            <li><a href="/en">En</a> | </li>
            <li><a href="/admin/">Admin</a></li>
        </ul>

        <div class="connect">
            <span>Follow Us</span> 
            <a href="https://www.facebook.com/linkopingultimate" id="fb"></a> 
            <a href="https://www.youtube.com/user/LkpgUltimate" id="yt"></a> 
            <a href="mailto:ultimate@linkopingfrisbee.se" id="mail"></a> 
        </div>
    </div>
</div>
