{% load static %}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li><a href="/">Hem</a> | </li>
            <li><a href="/about">Om oss</a> | </li>
            <!-- <li><a href="/player_data">Spelare</a> | </li> -->
            <li><a href="/news">Nyheter</a> | </li>
            <!-- <li><a href="/schedule">Träning</a> | </li> -->
            <!-- <li><a href="/pics">Bilder</a> | </li> -->
            <li><a href="/admin">Admin</a></li>
        </ul>
        <div class="connect">
            <span>Follow Us</span> <a href="https://www.facebook.com/linkopingultimate?fref=ts" id="fb">fb</a> <a href="/" id="contact">contact</a>
        </div>
    </div>
</div>
