{% load static %}

{% block javascript %}
{% endblock %}

<div class="sidebar">
    <span class="news">Nyheter</span>
    <ul>
        {% for news in reqcon.articles %}
        <li>
            <a href="/news/{{news.id}}/{{news.slug}}">{{news.headline}}</a>
            <span>Posted on {{news.created|date:'Y-m-d H:i'}}</span>
        </li>
        {% endfor %}
    </ul>
    <a href="/news">Läs Mer</a>
</div>
<div class="sidebar">
    <span class="schedule">Träningstider</span>
    <ul>
        {% for event in events %}
            <li>
                <a href="">
                    {{event.headline}} <br> 
                </a>
                <span>{{event.event_time}}  <br> @ {{event.location}}</span>
                <span>Updated {{event.updated|date:'Y-m-d '}}</span>
            </li>
        {% endfor %}
    </ul>
    <a href="/traning">Mer Info</a>
</div>
