footer {
    display: block;

    padding: 32px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;

    width: 80%;
    max-width: 1000px;

    background: url('../img/bg_div.png') repeat;
    -moz-box-shadow: 0 0 32px #333;
    -webkit-box-shadow: 0 0 32px #333;
    box-shadow: 0 0 32px #666;
}

footer div:first-child {
    float:center;
    overflow:hidden;
}

footer div:first-child ul {
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:10px 0 0;
}
footer div:first-child ul li {
    color:#46bad3;
    float:left;
    font-size:11px;
}
footer div:first-child ul li:first-child a {
    padding-left:0;
}
footer div:first-child ul li a {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:11px;
    line-height:30px;
    padding:0 13px;
    text-decoration:none;
    text-transform:uppercase;
}
footer div:first-child ul li a:hover, footer div:first-child ul li.selected a {
    color:c;
}
footer div:first-child p {
    display:block;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:11px;
    line-height:11px;
    margin:-2px 0 0;
    text-decoration:none;
    text-transform:uppercase;
}

.connect {
    float:right;
    padding:20px 20px 0;
}
.connect span {
    color:#EA3B3D;
    float:left;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:11px;
    line-height:12px;
    text-transform:uppercase;
}
.connect a {
    float:left;
    margin:0 0 0 7px;

    height:24px;
    width:24px;
}
.connect a#fb {
    background:url(../img/connect/facebook-red.svg) ;
    background-size: 24px 24px;
}
.connect a#fb:hover {
    background:url(../img/connect/facebook-blue.svg) ;
    background-size: 24px 24px;
}
.connect a#mail {
    background:url(../img/connect/mail-red.svg) ;
    background-size: 24px 24px;
}
.connect a#mail:hover {
    background:url(../img/connect/mail-blue.svg) ;
    background-size: 24px 24px;
}
.connect a#yt {
    background:url(../img/connect/yt-red.svg) ;
    background-size: 24px;
}
.connect a#yt:hover {
    background:url(../img/connect/yt-blue.svg) ;
    background-size: 24px 24px;
}
