{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/about.css">
{% endblock css %}

{% block content %}
<div class="about">
    <h1> Ultimate frisbee </h1>

    <p>Vi kör inomhusträning på vintern och utomhusträning på sommaren. Alla är välkomna, tjejer och killar, alla åldrar, alla nivåer. Vi tycker alltid det är kul med nytt folk och vi tar alltid hand om nya så att de lär sig kasta, kommer in i spelet osv. Beroende på underlag kör vi vissa perioder även separata ungdomsträningar.</p>

    <p>På sommaren brukar vi träna på gräsplanerna i Ryds motionscentrum mitt i Rydsskogen, på vintern i Rydshallen.</p>

    <p>För senaste nytt, aktuella träningstider och alla andra ultimaterelaterade frågor kolla vår facebook-grupp</p>

    <p>Kontaktperson Ultimate: Lovisa Sköld, 073-XXX XX XX, lolo (at) hotmail.com</p>

    <p>Läs gärna mer om ultimate frisbee på Frisbeeförbundet</p>

    <p>KFUM Linköping har skolat många bra spelare genom åren varav flera tagit medaljer på ungdoms-SM och senior-SM, spelar på elitklubbnivå i Europa samt i ungdomslandslag och dam/herrlandslag. Vi tror att en framgångsrik idrottskarriär börjar i en trygg utvecklingsmiljö där coachningen anpassas efter individens färdigheter och egna mål. Samtidigt är det många som spelar ultimate för att hålla formen, för det spännande spelets skull eller den schyssta stämning och den uttalade fair play som genomsyrar hela vår sport. När spelet börjar försvinner tid och rum och efter träningen inser man hur mycket man sprungit fram och tillbaka utan att tänka på det.</p>
</div>
{% endblock %}
