{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}home/css/home.css">
{% endblock css %}

{% block content %}
<div class="home">
    <h1>Välkommen till Linköping Ultimate!</h1>
    <img width="100%" src="{{ STATIC_URL }}img/timeout.jpg"></img>
    <p>
        Välkommen till facebookgruppen för ultimate frisbee inom KFUM Linköping.<br>
        Träningstider inomhus vintern 2014/15:<br>
        Onsdagar kl 21:30-23. Kungsbergshallen<br>
        Söndagar kl 19-21. Rydshallen<br>
    </p>
</div>
{% endblock %}
